.wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;   
  height: 100vh;
} 
.wrapper{
  align-items: center;
}
.wrapper h1{
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
}
.choice{
  display: flex;
  justify-content: space-between;
  margin: 25px;
  z-index: 999;
}
.choice p{
  font-size: 24px;
  color: #fff;
}
.eye{
  width: 30vw;
}
.face{
  width: 30vw;
}
.finger{
  width: 30vw;
}
.eye img{
  width: 100%;
}
.face img{
  width: 100%;
}
.finger img{
  width: 100%;
}
.mobile-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    top: 0;
  
    left: 0;
    right: 0;
    height: 50px;
    z-index: 9999999;
  }
  .name{
    align-items: center;
  }
  .mobile-menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
  }
  .mobile-menu__icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 4px;
    transition: .4s;
  }
  .mobile-menu__icon::after, .mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    transition: .4s;
  }
  .mobile-menu__icon::after {
    top: 8px;
  }
  .mobile-menu__icon::before {
    top: -8px;
  }
  .mobile-menu__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top: 40px;
    left: 92vw;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: .5s;
    overflow: hidden;

  }

  .mobile-menu__list {
    transition: .5s;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
  }
  .mobile-menu__item {
    font-size: 26px;
    padding-bottom: 15px;
  }
  .mobile-menu__link {
    text-decoration: none;
    color: #fff;
  }
  .mobile-menu__checkbox {
    display: none;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__container {
    height: 100%;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  #upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #e0f2f7;
    font-family: 'Segoe UI';
    color: #1f3c44;
}

#upload-container img {
    width: 40%;
    margin-bottom: 20px;
    user-select: none;
}
#upload-container label {
  font-weight: bold;
}

#upload-container label:hover {
  cursor: pointer;
  text-decoration: underline;
}
#upload-container div {
  position: relative;
  z-index: 10;
}

#upload-container input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}
#upload-container input[type=file]:focus + label {
  /*Стили для метки*/
}
:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
#upload-container input[type=file]:focus + label {
  outline: -webkit-focus-ring-color auto 5px;
}
:focus {
  outline: 1px solid #0078d7;
}
:focus {
  outline: 1px solid #212121;
}

#upload-container input[type=file]:focus + label {	
  outline: 1px solid #0078d7;
  outline: -webkit-focus-ring-color auto 5px;
}

#upload-container label.focus {
  outline: 1px solid #0078d7;
  outline: -webkit-focus-ring-color auto 5px;
}


#upload-container.dragover {
  background-color: #fafafa;
  outline-offset: -17px;
}



:root{
    --height: 3em;
    --bgr: rgb(64, 64, 64);
}

.forbutton{
  position: relative;
  top: 20vh;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    color: white;
    background: var(--bgr);
    height: calc(1 * var(--height));
    width: calc(2 * 0.866 * var(--height));
    box-shadow: 0.5em 0.5em 0.5em lightgrey;
    transition: box-shadow ease 0.2s;
    z-index: 9;
}

.btn:after, 
.btn:before{
    content: '';
    position: absolute;
    transition: all ease-in-out 0.35s;
    top: 0px; left: 0px;
    height: calc(1 * var(--height));
    width: calc(2 * 0.866 * var(--height));
    background: var(--bgr);
    opacity: 0;
    z-index: -5;
}

.btn:hover{
    transition: box-shadow linear 0.2s;
    box-shadow: none;
}
.btn:after{
    transform: rotate(60deg) translateX(calc(-2 * var(--height)));
}

.btn:before{
    transform: rotate(-60deg) translateX(calc(2 * var(--height)));
    transition-delay: 0.1s;
}

.btn:hover:after,
.btn:hover:before{
    content: '';
    position: absolute;
    top: 0px; left: 0px;
    transition: all ease-in-out .2s;
    height: calc(1 * var(--height));
    width: calc(2 * 0.866 * var(--height));
    background: var(--bgr);
    opacity: 1;
    z-index: -5;
}

.btn:hover:after{
    transform: rotate(60deg) translateX(0);
    
}

.btn:hover:before{
    transform:  rotateZ(-60deg) translateX(0px);
    transition-delay: 0.1s;
}

.btn:active:before,
.btn:active:after{
    transform: rotateZ(0deg);
}

.btn:active:before{
    transition-delay: .1s;
}

